<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot_ssm.mapper.UserMapper">

    <!--==根据id查询user==-->
    <select id="queryUserById" parameterType="int" resultType="com.example.springboot_ssm.bean.User">

        select * from user where id=#{id};

    </select>

    <!--==查询所有user==-->
    <select id="queryAll" resultType="user">

        select * from user ;

    </select>

</mapper>